* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: "Raleway" sans-serif;
    color: #050505;
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* position: fixed; */
}

#index-body {
    background-position: center;
    background-color: #050505;

}

.general-header {
    text-align: center;
    margin-top: 70px;
}

.website-hero-name:link,
.website-hero-name:visited {
  text-decoration: none;
  color: #fff;
}
.website-hero-name:hover,
.website-hero-name:active {
  color: #ddd;
}

#arts {
    font-size: 3.5rem;
}

#literature {
    font-size: 3.5rem;
}

/*Main Section*/
.main-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
  
#welcome-container {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
  