*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body {
    background: #050505;
    display: grid;
    justify-content: center;
    place-items: center;
    height: 100vh;
}

.wrapper {
    height: 475px;
    width: 100%;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-inline: 5%;
}

.heading {
    margin-bottom: 1.5rem;
    color: #050505;
}
  
.input-group {
    margin-bottom: 1.5rem;
    color: #050505;
}
  
.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}
  
.input-group input {
    width: 50%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #050505;
    font-size: 1rem;
}
  
.button-group button {
    width: 80%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border:  1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s ease;
}
  
.button-group button:hover {
    background-color: #445361;
    opacity: 0.9;
}